/* Default values */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body{
 background-color: rgb(104, 125, 158);
 display: flex;
 justify-content: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Control Interface Section */
.control-interface{
  position: relative;
  margin: 5px 5px 0px 5px;
  max-width: 400px;
  aspect-ratio: 8 / 1;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;

}
.control-interface div{
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
}

/* Playback Block */
.input-playback{
  height: 100%;
  aspect-ratio: 1 / 1;
}
.input-playback div{
  width: 100%;
  height: 100%;
  background-color: "";
  border: none;
}
.play svg{  
  width: 80%;
  height: 80%;
  padding: 10%;
}
.stop svg{
  width: 80%;
  height: 80%;
  padding: 10%;
}

/* Tempo Block */
.tempo-block{
  width: 45%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempo-block label{
  width: 35px;
  margin: 2.5px;
}
.tempo-block input{
  width: 45px;
  margin: 2.5px;
  text-align: center;
}
.tempo-refresh{
  height: 100%;
  aspect-ratio: 1 / 1;
  margin: 2.5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.tempo-refresh svg{
  width: 80%;
  height: 80%;
  padding: 10%;
}

/* Kit Block */
.kit-block{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kit-block label{
  width: 30px;
  margin: 2.5px;
}
.kit-block select{
  width: 75px;
  margin: 2.5px;
}

/* Info Block */
.input-info{
  position: absolute;
  width: 20px;
  height: 20px; 
  top: 1px;
  right: -8px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.info{
  width: 80%;
  height: 80%;
  padding: 10%;  
}
.close{
  width: 100%;
  height: 100%;
  padding: 10%;
}
.info-window{
  position: absolute;
  width: 300px;
  height: 545px;
  top: 10px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
  z-index: 1;
}

.tab-section{
  position: relative;
  margin: 0px 5px 0px 5px;
  max-width: 400px;
  aspect-ratio: 10 / 1;
  display: flex;
  justify-content: space-around;
}
.tab-section div{
  position: absolute;
  height: 100%;
  width: 49%;
  
  border: 2px solid rgb(40, 40, 40);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;  
  text-align: center;
  padding: 2.5px;
}
.drum-tab{
  left: 0%;
  top: 6px;  
  z-index: 2;
  background-color: rgb(130, 130, 130);
}
.share-tab{
  right: 0%;
  top: 6px;
  z-index: 0;
  background-color: rgb(110, 110, 110);
}

/* Track Interface Section */
.track-interface{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  margin: 0px 5px 10px 5px;
  max-width: 400px;
  height: 350px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 0px 0px 5px 5px;
}
.track{
  height: 15%;
  padding: 2.5px;  
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
}
.track-one{
  background-color: rgb(219, 176, 176);
}
.track-two{
  background-color: rgb(219, 176, 215);
}
.track-three{
  background-color: rgb(177, 176, 219);
}
.track-four{
  background-color: rgb(176, 211, 219);
}
.track-five{
  background-color: rgb(176, 219, 180);
}
.track-six{
  background-color: rgb(219, 216, 176);
}
.track-icon{
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 2.5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: center;  
}
.track-icon svg{
  width: 90%;
  height: 90%;
  padding: 5%;
}

.step-container{
  height: 100%;
  width: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.step{
  height: 75%;
  width: 10%;
  margin: 1px;
  background-color: rgb(200, 200, 200);
  border: 3px solid rgb(75, 75, 75);
  border-radius: 50px;
}
.step-0, .step-4, .step-8, .step-12{
  border: 3px solid rgb(0, 0, 0);
} 
/* Only apply hover style to devices with hover capabilities */
@media (hover: hover){ 
  .step:hover{ 
    background-color: white !important;
  }
}

/* Share Interface Section */
.share-interface{
  margin: 0px 5px 10px 5px;
  max-width: 400px;
  height: 350px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/* Kit Block */
.preset-block{
  width: 60%;
  aspect-ratio: 10 / 1;
  margin: 5px;
  padding: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
}
.preset-block label{
  width: 20%;
  margin: 2.5px;
  text-align: right;
}
.preset-block select{
  width: 60%;
  margin: 2.5px;
}
.preset-refresh{
  max-width: 24px;
  aspect-ratio: 1 / 1;
  margin: 2.5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.preset-refresh svg{
  width: 80%;
  height: 80%;
  padding: 10%;
}
.share-interface p{
  padding: 5px;
  font-size: 90%;
}
.input-share-data{
  width: 80%;
  margin: 5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}
.share-input-block{
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.share-input-block div{
  margin: 0px 15px 0px 15px;
  padding: 5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}
