*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 background-color: rgb(104, 125, 158);
 display: flex;
 justify-content: center;
}

.control-interface{
  position: relative;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;

}
.control-interface div{
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}

.input-playback{
  width: 30px;
}
.input-playback div{
  width: 100%;
  height: 100%;
  background-color: "";
  border: none;
}
.play svg{  
  width: 100%;
  height: 100%;
}
.stop svg{
  width: 100%;
  height: 100%;
}

.tempo-block{
  width: 120px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempo-block label{
  width: 35px;
  margin: 2.5px;
}
.tempo-block input{
  width: 45px;
  margin: 2.5px;
  text-align: center;
}
.tempo-block div{
  width: 40px;
  padding: 1px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}

.kit-block{
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kit-block label{
  width: 30px;
  margin: 2.5px;
}
.kit-block select{
  width: 75px;
  margin: 2.5px;
}

.input-info{
  position: absolute;
  width: 20px;
  height: 20px; 
  top: -11px;
  right: -11px;
}

.input-info svg{
  width: 80%;
  height: 80%;
  margin: 10%;
}
