/* Default values */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 background-color: rgb(104, 125, 158);
 display: flex;
 justify-content: center;
}

.page-container{
  display: flex;
  flex-direction: column;
}

/* Control Interface Section */
.control-interface{
  position: relative;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;

}
.control-interface div{
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}

/* Playback Block */
.input-playback{
  width: 30px;
}
.input-playback div{
  width: 100%;
  height: 100%;
  background-color: "";
  border: none;
}
.play svg{  
  width: 100%;
  height: 100%;
}
.stop svg{
  width: 100%;
  height: 100%;
}

/* Tempo Block */
.tempo-block{
  width: 120px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempo-block label{
  width: 35px;
  margin: 2.5px;
}
.tempo-block input{
  width: 45px;
  margin: 2.5px;
  text-align: center;
}
.tempo-refresh{
  width: 40px;
  padding: 1px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

/* Kit Block */
.kit-block{
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kit-block label{
  width: 30px;
  margin: 2.5px;
}
.kit-block select{
  width: 75px;
  margin: 2.5px;
}

/* Info Block */
.input-info{
  position: absolute;
  width: 20px;
  height: 20px; 
  top: -11px;
  right: -11px;
  z-index: 1;
}
.input-info div{
  width: 100%;
  height: 100%;
  background-color: "";
  border: none;
}
.info svg{
  width: 100%;
  height: 100%;
}
.close svg{
  width: 100%;
  height: 100%;
}
.info-window{
  position: absolute;
  width: 300px;
  height: 545px;
  top: -2px;
}

/* Track Interface Section */
.track-interface{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.track{
  height: 45px;
  padding: 2.5px;  
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
}
.track-one{
  background-color: rgb(219, 176, 176);
}
.track-two{
  background-color: rgb(219, 176, 215);
}
.track-three{
  background-color: rgb(177, 176, 219);
}
.track-four{
  background-color: rgb(176, 211, 219);
}
.track-five{
  background-color: rgb(176, 219, 180);
}
.track-six{
  background-color: rgb(219, 216, 176);
}
.track-icon{
  height: 35px;
  width: 35px;
  padding: 2.5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.track-icon svg{
  width: 100%;
  height: 100%;
}

.step-container{
  height: 35px;
  width: 240px;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.step{
  height: 30px;
  width: 12.5px;
  background-color: rgb(200, 200, 200);
  border: 3px solid rgb(75, 75, 75);
  border-radius: 10px;
}
.step-0, .step-4, .step-8, .step-12{
  border: 3px solid rgb(0, 0, 0);
} 
/* Only apply hover style to devices with hover capabilities */
@media (hover: hover){ 
  .step:hover{ 
    background-color: white !important;
  }
}
