/* Default values */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body{
 background-color: rgb(104, 125, 158);
}

.page-container{
  margin: auto;
  width: clamp(320px, 100vw, 400px);
  height: 100vh;
  padding: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

/* Control Interface Section */
.control-interface{
  position: relative;
  margin: 0px 5px 0px 5px;
  width: 100%;
  height: 40px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Playback Block */
.input-playback{
  height: 100%;
  width: 12%;
  background-color: white;
  border-right: 2px solid rgb(40, 40, 40); 
  display: flex; 
}
.play{
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex; 
}
.play svg{  
  width: 100%;
  height: 100%;
}
.stop{
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex; 
}
.stop svg{
  width: 100%;
  height: 100%;
}

/* Tempo Block */
.tempo-block{
  width: 44%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-right: 2px solid black;
}
.tempo-block label{
  width: 25%;
  margin: 0 10px 0 5px;
  text-align: center;
}
.tempo-block input{
  width: 50%;
  text-align: center;
}
.tempo-refresh{
  width: 25%;
  height: 75%;
  margin: 0 5px 0 5px;
  padding: 5px;
  background-color: white;
  border: 1.5px solid rgb(40, 40, 40);
  display: flex;
  justify-content: center;
}
.tempo-refresh svg{
  width: 100%;
  height: 100%;
}

/* Kit Block */
.kit-block{
  width: 44%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
}
.kit-block label{
  width: 30%;
  margin: 0 2.5px 0 5px;
  text-align: center;
}
.kit-block select{
  width: 70%;
  margin: 0 5px 0 2.5px;
}

/* Tab Navigation Section */
.tab-section{
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
}
.tab-section div{
  position: absolute;
  height: 100%;
  width: 32.5%;  
  border: 2px solid rgb(40, 40, 40);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;  
  text-align: center;
  padding: 5px;
}
.drum-tab{
  left: 0%;
  top: 2.5px;  
  z-index: 2;
  background-color: rgb(130, 130, 130);
}
.share-tab{
  left: 33.75%;
  top: 2.5px;
  z-index: 0;
  background-color: rgb(110, 110, 110);
}
.info-tab{
  right: 0%;
  top: 2.5px;
  z-index: 0;
  background-color: rgb(110, 110, 110);
}

/* Track Window Section */
.track-window{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  margin: 0px 5px 0px 5px;
  width: 100%;
  height: 400px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
}
.track{
  height: 15%;
  border: 2px solid rgb(40, 40, 40);
  display: flex;
}
.track-one{
  background-color: rgb(219, 176, 176);
}
.track-two{
  background-color: rgb(219, 176, 215);
}
.track-three{
  background-color: rgb(177, 176, 219);
}
.track-four{
  background-color: rgb(176, 211, 219);
}
.track-five{
  background-color: rgb(176, 219, 180);
}
.track-six{
  background-color: rgb(219, 216, 176);
}
.track-icon{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.drum-pad{
  height: 100%;
  width: 60%;  
  background-color: white;
  border: 1px solid black;
  display: flex;
}
.drum-pad svg{
  width: 80%;
  height: 80%;
  margin: auto;
}
.track-controls{
  height: 100%;
  width: 40%;
  display: flex; 
  flex-direction: column;
  justify-content: space-around; 
}
.control{
  height: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  display: flex;
}
.control svg{
  width: 50%;
  height: 50%;
  margin: auto;
}

.step-container{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step{
  height: 100%;
  width: 6.25%;
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
}
/* Only apply hover style to devices with hover capabilities */
@media (hover: hover){ 
  .step:hover{ 
    background-color: white !important;
  }
}

/* Share Window Section */
.share-window{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}
.preset-block{
  width: 75%;
  aspect-ratio: 10 / 1;
  margin: 5px;
  padding: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
}
.preset-block label{
  width: 20%;
  margin: 2.5px;
  text-align: right;
}
.preset-block select{
  width: 60%;
  margin: 2.5px;
}
.preset-refresh{
  max-width: 24px;
  aspect-ratio: 1 / 1;
  margin: 2.5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.preset-refresh svg{
  width: 80%;
  height: 80%;
  padding: 10%;
}
.share-window h2{
  padding-top: 2.5px;
  font-size: 100%;
  text-decoration: underline;
}
.share-window p{
  padding: 5px 10px 5px 10px;
  font-size: 90%;
}
.input-share-data{
  width: 85%;
  height: 25%;
  margin: 5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
  padding: 2.5px;
}
.share-input-block{
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.share-input-block div{
  margin: 0px 15px 0px 15px;
  padding: 5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}

/* Information Section */
.info-window{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  height: 400px;
  padding: 2.5px;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 0px 0px 5px 5px;
  text-align: center;
}

/* Submission Section */
.submission-input-block{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(130, 130, 130);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 2.5px;
}
.submission-input-block p{
  padding: 2.5px;
}
.submission-input-block div{
  margin: auto;
  width: 75%;
  padding: 5px;
  background-color: white;
  border: 2px solid rgb(40, 40, 40);;
  border-radius: 5px;
}